:root {
    --clr-dark-a0: #000000;
    --clr-light-a0: #ffffff;

    /** Theme primary colors */
    --clr-primary-a0: #bd0000;
    --clr-primary-a10: #c9371d;
    --clr-primary-a20: #d55538;
    --clr-primary-a30: #df6f52;
    --clr-primary-a40: #e8876d;
    --clr-primary-a50: #ef9f88;

    /** Theme surface colors */
    --clr-surface-a0: #121212;
    --clr-surface-a10: #282828;
    --clr-surface-a20: #3f3f3f;
    --clr-surface-a30: #575757;
    --clr-surface-a40: #717171;
    --clr-surface-a50: #8b8b8b;

    /** Theme tonal surface colors */
    --clr-surface-tonal-a0: #161c18;
    --clr-surface-tonal-a10: #2b312d;
    --clr-surface-tonal-a20: #424744;
    --clr-surface-tonal-a30: #5a5f5b;
    --clr-surface-tonal-a40: #737774;
    --clr-surface-tonal-a50: #8d918f;

    /** Success colors */
    --clr-success-a0: #22946e;
    --clr-success-a10: #47d5a6;
    --clr-success-a20: #9ae8ce;

    /** Warning colors */
    --clr-warning-a0: #a87a2a;
    --clr-warning-a10: #d7ac61;
    --clr-warning-a20: #ecd7b2;

    /** Danger colors */
    --clr-danger-a0: #9c2121;
    --clr-danger-a10: #d94a4a;
    --clr-danger-a20: #eb9e9e;

    /** Info colors */
    --clr-info-a0: #21498a;
    --clr-info-a10: #4077d1;
    --clr-info-a20: #92b2e5;
}

body {
    border: none;
    margin: 0px;
    padding: 0px;
}

.fill-screen {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
}

#main-content {
    background-color: var(--clr-surface-a0);
    display: flex;
}

#content-left {
    flex: 1.5;
}

#side-menu {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--clr-surface-a10);
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    display: flex;
    align-items: center;
}

#side-menu-inner {
    position: relative;
    width: 90%;
    height: 95%;
    margin-left: 4%;
    display: flex;
    flex-direction: column;
}

#side-menu-tabs {
    position: relative;
    width: 100%;
}

#model-selection-area {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    gap: 5%;
}

.model-selection-card {
    background-color: var(--clr-surface-a20);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--clr-primary-a0);
    transition: transform 0.2s ease-in-out;
}

.model-selection-card:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.model-selection-card img {
    border-radius: 20px;
    position: relative;
    width: 80%;
    margin-top: 10%;
}

.model-selection-card p {
    position: relative;
    color: var(--clr-surface-a0);
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    margin-bottom: 15%;
    font-size: 14pt;
}

#menu-footer {
    position: relative;
    width: 100%;
    display: flex;
    margin-top: auto;
    justify-content: center;
    color: white;
    font-family: "Verdana", sans-serif;
}

#content-right {
    flex: 1;
}

#model-preview {
    position: relative;
    width: 100%;
    height: 100%;
}
